html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
.be-red{
	background-color: #FF4B25;
}
.white{
	color: #FFFFFF;
}
.large-padding{
	padding: 8px 5px;
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
#logo {
    font-size: 1.2em;
    }
.no-margin {
	margin: 0px;
}

.no-list {
	list-style: none;
}

